PORT = 5000
MONGODB_URI = mongodb://localhost:27017/event
EMAIL_USER = xyz@gmail.com
EMAIL_PASS = 16digitpassword
JWT_SECRET = your_jwt_secret_key_sksjakjdsjhjnasmnjhn28829sau8as67as
RAZORPAY_KEY_ID = rzp_test_xxxxx
RAZORPAY_KEY_SECRET = xxxxx